
.Topbar{
    width: 100%;
    background-color: #282c34;
    padding: 24px 48px 12px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
  }
  .Topbar>img{
    width: 100px;
  }
  .MainContainer{
    padding: 4% 8%;
    margin-top: 42px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
  }
  .ProductPreview{
    width: 50%;
    position: relative;
  }
  .ProductPreview > img{
    width: 100%;
    padding-left: -2px;
  }
  .ProductData{
    width: 50%;
  }
  .ProductTitle{
    font-family: 'Source Sans Pro' , sans-serif;
    font-size: 40px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 16px;
  }
  .ProductDescription{
  font-size: 20px;
  color:rgba(0,0,0,0.8);
  margin-top: 0;
  margin-left: 16px;
  }
  .SectionHeading{
    font-size: 28px;
    margin-bottom: 8px;
  }
  .HeartBeatSection{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 48px;
    font-weight: 600;
  }
  .HeartBeatSection > i{
    color:red;
    animation: beat 1s infinite;
  }
  @keyframes beat {
    0%{
      transform: scale(1,1);
    }
    50%{
      transform: scale(1.2,1.2);
    }
    100%{
      transform: scale(1,1);
    }
    
  }
  .TimeSection{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 48px;
    font-weight: 600;
  }
  .ProductImage{
    width: 100%;
    max-width: 80px;
    border: 2px solid transparent;
    border-radius: 8px;
    margin-right: 12px;
    cursor: pointer;
  }
  .SelectedProductImage{
    border: 2px solid teal;
    width: 10%;
  }
  .FeatureItem{
    min-width: 80px;
    background-color: gainsboro;
    border-radius: 8px;
    border: 0;
    padding: 12px 24px;
    text-align: center;
    margin-right: 12px;
    box-sizing: content-box;
    cursor: pointer;
    font-weight: 600;
  }
  .SelectedFeatureItem{
    color: white;
    background-color: gray;
    min-width: 80px;
    
    border-radius: 8px;
    border: 0;
    padding: 12px 24px;
    text-align: center;
    margin-right: 12px;
    box-sizing: content-box;
    cursor: pointer;
    font-weight: 600;
  
  
  }
  .PrimaryButton{
    color: white;
    background-color: teal;
    font-size: 20px;
    border-radius: 8px;
    border: 0;
    margin-top: 36px;
    padding: 12px 24px;
  }
  
  /* <script src="https://kit.fontawesome.com/35c398e458.js"></script> */